header .left,
header .right {
    height: 80px;
    line-height: 80px;
}

main {
    height: calc(100vh - 130px);
    background-color: aquamarine;
}

#grid {
    height: 500px;
    width: 500px;
}

#grid .cell {
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

#grid .cell.clicked.blue {
    background-color: lightskyblue;
    cursor: not-allowed;
}

#grid .cell.clicked.red {
    background-color: red;
    cursor: not-allowed;
}

footer {
    height: 50px;
    line-height: 50px;
}